extends /sidebar

block title
  | Timecounts Integration Settings

block content
  h2 Timecounts Integration Settings

  form.form-horizontal(method="POST")
    input(type='hidden', name='saveSettings', value='true')
    .control-group
      label.control-label(for="roleId") Sync people with role
      .controls
        select(id="roleId", name="roleId")
          each role in roles
            option(value=role.id, selected=(role.id === data.roleId))= role.name

    .control-group
      label.control-label API Endpoint
      .controls
        input(type='url', name='endpoint', value=data.endpoint)

    .control-group
      label.control-label API Token
      .controls
        input(type='password', name='apiToken', value=data.apiToken)

    .control-group
      label.control-label Organization slug
      .controls
        input(type='text', name='organizationSlug', value=data.organizationSlug)

    .control-group
      .controls
        button.btn.btn-success(type="Submit") Save

  if data.apiToken && data.apiToken.length && data.organizationSlug && data.organizationSlug.length
    hr

    form.form-horizontal(method="POST")
      h3 Perform synchronisation
      div
        button.btn.btn-danger(type='submit',name='sync', value='sync') Sync

  if !data.apiToken || !data.apiToken.length || !data.organizationSlug || !data.organizationSlug.length
    hr

    form.form-horizontal(method="POST")
      h3 Log in

      if loginError
        p.text-error= loginError

      if loginStep2
        input(type='hidden', name='email', value=data.email)
        input(type='hidden', name='password', value=data.password)
        .control-group
          label.control-label Organization
          .controls
            select(name='organization')
              for name, slug in organizations
                option(value=slug)= name

        .control-group
          .controls
            button.btn.btn-success(type='submit', name='login', value='login2') Configure

      else
        .control-group
          label.control-label Email
          .controls
            input(type='text', name='email', value=data.email)

        .control-group
          label.control-label Password
          .controls
            input(type='password', name='password')

        .control-group
          .controls
            button.btn.btn-success(type='submit', name='login', value='login') Login
